*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #3B153A;
    width: 90%;
    margin: auto;
    /* text-align: center; */
    /* align-items: center; */
    justify-content: center;
    padding: 20px;
}
.box{
    width: 48px;
    height: 48px;
    background-color: #EAD292;
    color: #3B153A;
    text-align: center;
    border-radius: 10px;
}
.btn{
    width: 100px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #3B153A;
    margin-top: 10px;
    border: none;
    color: white;
}
.mathimage{
    width: 100px;
    margin: auto;
    text-align: center;
    display: flex;
    margin-top: 10px;
}

button{
      width: 100px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #3B153A;
    margin-top: 10px;
    border: none;
    color: white;
}